html {
   height: 200%;
}
body {
   min-height: 100%;
   background-color: black;   
   color: white;
   position: relative;   
}
.page {    
    position:absolute;
    left: 0; right: 0;    
    background-position: center top;
    background-repeat:no-repeat;
    background-size: 100% auto;
    text-align: center;    
    text-shadow:    1px 1px 1px black, -1px 1px 1px black, 
                    1px -1px 1px black, -1px -1px 1px black;
}
/*top screen*/
.main {       
    top:0; bottom:50%;
    background-image: url('img/bulb.jpg');        
}
.main .info{    
    width:50%;
    margin:0 auto;
}
.main .info:first-child{    
    margin-top:5%;
}
.main .info:last-child{
    font-size: 50%;
    margin-top:20%;
}
/*bottom screen*/
.foots {       
    top:50%; bottom:0;    
    background-image: url('img/sky.png');    
    background-position: center center;
    background-size: auto 100%;
    background-repeat: repeat-x;
}
.foots .imag{
    position: absolute;
    top:0%; 
    right: 8%;
    height: 100%; width: 50%;
    background-image: url('img/sun.jpg');    
    background-position: center center;
    background-repeat:no-repeat;
    background-size: 100% auto;
}
.foots .left{
    position: absolute;
    top: 50%; left: 5%;
    width: 30%;
    color: yellow;
    text-shadow: 2px 2px 23px red, -2px -2px 23px red;
    font-size: 70%;
}
/*giving to font-size sence of body-width°*/
@media all and (min-width: 50px)   {  body  { font-size:0.1em;  } }
@media all and (min-width: 100px)  {  body  { font-size:0.2em;  } }
@media all and (min-width: 200px)  {  body  { font-size:0.4em;  } }
@media all and (min-width: 300px)  {  body  { font-size:0.6em;  } }
@media all and (min-width: 400px)  {  body  { font-size:0.8em;  } }
@media all and (min-width: 500px)  {  body  { font-size:1.0em;  } }
@media all and (min-width: 600px)  {  body  { font-size:1.2em;  } }
@media all and (min-width: 700px)  {  body  { font-size:1.4em;  } }
@media all and (min-width: 800px)  {  body  { font-size:1.6em;  } }
@media all and (min-width: 900px)  {  body  { font-size:1.8em;  } }
@media all and (min-width: 1000px) {  body  { font-size:2.0em;  } }
@media all and (min-width: 1100px) {  body  { font-size:2.2em;  } }
@media all and (min-width: 1200px) {  body  { font-size:2.4em;  } }
@media all and (min-width: 1300px) {  body  { font-size:2.6em;  } }
@media all and (min-width: 1400px) {  body  { font-size:2.8em;  } }
@media all and (min-width: 1500px) {  body  { font-size:3.0em;  } }
@media all and (min-width: 1500px) {  body  { font-size:3.2em;  } }
@media all and (min-width: 1600px) {  body  { font-size:3.4em;  } }
@media all and (min-width: 1700px) {  body  { font-size:3.6em;  } }


